.story {
    background: url("../../assets/story.gif") no-repeat center center fixed;
    background-color: #050202;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .profile-pic img {
    width: 100%;
    height: 100%;
  }
  
  .profile-info {
    text-align: center;
  }