.story {
    background: url("../../assets/story.gif") no-repeat center center fixed;
    background-color: #050202;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
